// ************************************************************************
// =========================== COLOR VARIABLES ===========================
// ************************************************************************

$primary: #3e69fc;
$gentle-blue: #7493ff;
$dark-blue: #0f37be;
$white: #f3f3f3;
$darkblue: #334559;
$gray92: #EBEBEB;
$gray70: #707070;
$gray95: #959595;
$green: #39AC00;
$red: #FF4600;
$disableText: #ABABAB;
$pickled-bluewood: #324458;

$border-color: $primary;
$disableText: #ABABAB;

$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-20: 20px;

$baseGap: 1rem;

$baseFontFamily: "YekanWeb";
$boldFontFamily: YekanBold;
$animationDuration: .2s;

$primary-border-radius: 5px;
$primary-border-bottom: 1px solid rgba(112, 112, 112, .31);

$default-border-radius: 4px;

$box-shadow: 0 2px 4px -1px rgb(0 0 0 / 40%), 0px 4px 5px 0px rgb(0 0 0 / 30%), 0px 1px 10px 0px rgb(0 0 0 / 20%);

